mixed-port: 7890

ipv6: true

external-controller: 127.0.0.1:9090

interface-name: 以太网

dns:
  enable: true
  ipv6: true
  listen: ':53'
  default-nameserver:
    - 114.114.114.114
  enhanced-mode: redir-host
  fake-ip-filter:
    - '*.msftncsi.com'
    - '*.msftconnecttest.com'
  nameserver:
    - https://doh.dns.sb/dns-query

proxies:
  - name: SS
    type: ss
    server: ss.server.domain
    port: 8388
    cipher: aes-256-gcm
    password: password
    udp: true

rules:
  - IP-CIDR,192.168.0.0/16,DIRECT
  - IP-CIDR,10.0.0.0/8,DIRECT
  - IP-CIDR,172.16.0.0/12,DIRECT
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,100.64.0.0/10,DIRECT
  - IP-CIDR,224.0.0.0/4,DIRECT
  - GEOIP,CN,DIRECT
  - MATCH,SS
